@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Bhaijaan 2';
}

:root {
    --primary: #D0D5DD;
    --second: #00008D;
    --third: #475467;
    --fourth: #101828;
    --fivth: #fff;
    --sixth: #696F78;
}

.container {
    width: 90%;
    margin: auto;
}

ul {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--sixth);
    font-size: 24px;
}

li {
    list-style: none;
}

.border-bottom {
    border-bottom: var(--primary) 1px solid;
}

button {
    background: var(--second);
    color: var(--fivth);
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

section {
    padding: 2rem 0;
}

h1 {
    font-size: 48px;
    color: var(--fourth);
}

h2 {
    font-weight: 500;
    font-size: 32px;
    font-family: "Poppins";
    color: var(--fourth);
}


/* -------------------------------------------------------------------------- */
/*                             Header Section                                 */
/* -------------------------------------------------------------------------- */

#top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 8px;
}


#top-nav ul {
    border-radius: 3.5rem;
    border: 1px solid var(--sixth);
    padding: 16px 16px;
    gap: 24px;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

#top-nav button {
    border-radius: 25px;
    padding: 0.8rem 1.3rem;
    font-size: 20px;
    font-weight: 600;
     border: none;

}

#bottom-nav {
    padding: 16px 0;
}
#bottom-nav ul {
    gap: 48px;
}

.p-active {
    border-radius: 50px;
    border: 1px solid var(--second);
    padding: 5px 16px;
    color: var(--second);
}

.s-active {
    color: var(--second);
    font-size: 24px;
    font-weight: 600;
    position: relative;
}
.s-active::after {
    content: "";
    position: absolute;
    top: 133%;
    left: 0%;
    width: 100%;
    height: 3px;
    background: var(--second);
}

#bar {
    display: none;
}
#mobile-nav{
    transition: all .6s ease-in-out;
    position: fixed;
    left: 0;
    right: 120%;
    height: 100vh;

}

/* -------------------------------------------------------------------------- */
/*                             Hero Section                                   */
/* -------------------------------------------------------------------------- */

.hero-content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

/* #hero figure img {
    border: 10px solid var(--second);
    border-radius: 50%;
    padding: 5px;
} */
.progress-container {
    position: relative;
    width: 200px;
    height: 200px;
}

figure img {
    width: 90%;
    border-radius: 50%;
    border: 5px solid #fff;
}
input[type="range"] {
    position: absolute;
    top: 220px;
    width: 100%;
}
.progress-circle {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    background-image: conic-gradient(#00008d 0% 0%, #777 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero ul {
    flex-direction: column;
    align-items: end;
    gap: 8px;
}

#hero ul li,
.rating {
    display: flex;
    align-items: center;
    gap: 10px;
}

.prson-info {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.social-contact {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 24px;
}

.contact {
    text-align: center;
}

#btn-share {
    display: flex;
    border-radius: 50px;
    border: 1px solid var(--primary);
    padding: 8px 16px;
    gap: 8px;
    text-align: center;
    font-size: 20px;
    color: var(--fourth);
    background: var(--fivth);

}

.btn-contact {
    justify-content: space-around;
    display: flex;
    gap: 10px;
}

#btn-message {
    display: flex;
    border: none;
    border-radius: 50px;
    padding: 8px 16px;
    gap: 8px;
    text-align: center;
    font-size: 20px;
    color: black !important;
    background: #E4E7EC;
}

#hero {
    background: #F9FAFB;
    border-bottom: 2px solid #D0D5DD;
}

/* -------------------------------------------------------------------------- */
/*                             My Data Section                                   */
/* -------------------------------------------------------------------------- */

.my-data {
    background-color: #F9FAFB;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}
.container .certificate{
    border: none;
    background-color: #fff;
    box-shadow: none;
    margin: 0 ;
    padding: 0;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.edit {
    position: absolute;
    top: 10px;
    left: 10px;
}

.edit img {
    cursor: pointer;
}

.my-data-title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--second);
}
.data-head-icon {
    border-radius: 48px;
    border: 2px solid #D0D5DD;
    width: fit-content;
    padding: 8px 16px;
    color: #101828;
    align-items: center;
    font-weight: 500;
    display: flex;
    text-align: center;
    gap: 1.5rem;
    justify-content: flex-start;
    flex-direction: row;
    font-size: 20px;
}
.show-more-arrow{
font-size: 20px;
font-weight: 500;
color: #00008d;
text-align: right;
display: flex;
align-items: center;
justify-content: center;
gap: 0.3rem;
margin-bottom: 2rem;
}

.my-data-content {
    font-size: 14px;
    color: #555;
}

.my-data-content p {
    margin: 0;
}

a.show-more {
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
}

a.show-more:hover {
    text-decoration: underline;
}

button.show-more {
    margin-top: 10px;
    font-size: 14px;
    color: #344054;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    background: #F9FAFB;
    border: none;
    border-radius: 5px;
}
 input[type="file"]{
    display: none;
}


/* -------------------------------------------------------------------------- */
/*                               Management Page                              */
/* -------------------------------------------------------------------------- */

.section-title {
    font-weight: 500;
    font-size: 28px;
    color: #101828;
    padding-bottom: 5px;
    margin-top: 3rem;
    padding-right: 1.5rem;
}

.card {
    border-bottom: 1px solid #98A2B3;
    background-color: #F9FAFB;
    width: 100%;
    padding: 1rem 6rem;

}

.card .details {
    font-size: 1.2rem;
    color: #000;
    
}
.details-icon{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #696F78;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .details a {
    color: var(--second);
    text-decoration: none;
    font-size: 1.2;
}

.card .details a:hover {
    text-decoration: underline;
}

.card .meta {
    display: flex;
    justify-content: start;
    margin: 10px 0;
    font-size: 0.9rem;
    color: #000;
    gap: 10px;
}


.card .actions {
    display: flex;
    gap: 10px;
    /* flex-wrap: wrap; */
}

.card .actions button {
    padding: 5px 10px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card .actions .btn-cancel {
    background-color: #F9FAFB;
    padding: 4px 24px;
    font-size: 20px;
    color: #ff1d35;
}

.card .actions .btn-cancel:hover {
    background-color: #ffcccc;
}

.card .actions .btn-edit {
    background-color: #F9FAFB;
    border-radius: 5px;
    border: 1px solid #d0d5dd;
    padding: 4px 24px;
    font-size: 20px;
    color: #667085;
}

.card .actions .btn-edit:hover {
    background-color: #cce5ff;
}

.card .actions .btn-message {
    background-color: #F9FAFB;
    border-radius: 5px;
    border: 1px solid #d0d5dd;
    padding: 4px 24px;
    font-size: 20px;
    color: #667085;
}

.card .actions .btn-message:hover {
    background-color: #e1f4c7;
}

.card .actions .btn-start {
    border-radius: 5px;
    border: 1px solid #d0d5dd;
    padding: 4px 24px;
    font-size: 20px;
    color: #fff;
}

.card .actions .btn-start:hover {
    background-color: #0056b3;
}

/* -------------------------------------------------------------------------- */
/*                                 Rating Page                                */
/* -------------------------------------------------------------------------- */
.review-card {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-card img {

    margin-left: 15px;
    object-fit: cover;
}

.review-content {
    flex: 1;
}

.review-content h4 {
    font-size: 1.1rem;
    margin: 0 0 5px;
    color: #2c2c2c;
}

.review-content .role {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 0px;
}

.review-content .rating {
    color: #ffa500;
    font-size: 1.5rem;
    margin-bottom: 0px;
}

.review-content p {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.5;
}

/* -------------------------------------------------------------------------- */
/*                                     coach                                   */
/* -------------------------------------------------------------------------- */
.session-info {
    padding: 20px;
    text-align: right;
}

.session-info p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.coach {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.coach img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 15px;
}

.coach-info {
    text-align: right;
}

.coach-info h3 {
    font-size: 18px;
    color: #333;
}

.coach-info p {
    font-size: 14px;
    color: #777;
}

.notes {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.notes h4 {
    font-size: 18px;
    color: #444;
    margin-bottom: 10px;
}

.notes p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}
.container h2{
    margin-right: 2rem;
}

#files{
    text-align: center;
    background: #f7f7f7;
    padding: 16px 0 8px 0;
    cursor: pointer;
}


/* -------------------------------------------------------------------------- */
/*                                 Media Query                                */
/* -------------------------------------------------------------------------- */

@media (max-width:600px) {

    #top-nav ul,
    #top-nav button {
        display: none;
    }

    #bar {
        display: block;
    }
    #mobile-nav{
        right: 120%;
        transition: all .6s ease-in-out;
    }
    #mobile-nav.active{
        background: #000000ed;
        position: fixed;
        left: 0;
        right: 0;
        color: wheat;
        text-align: center;
        height: 100vh;
        display: flex;
        z-index: 999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #mobile-nav ul{
        flex-direction: column;
        padding-bottom: 16px;
    }
    #mobile-nav ul li a{
        font-size: 18px;
        color: white;
    }
    .s-active::after {
        content: "";
        position: absolute;
        bottom: -17px;
        right: 0;
        top: 190%;
        width: 100%;
        height: 2px;
        background: var(--second);
    }
    .prson-info ul li{
        margin-right: 5rem;
    }
    .container .logo-img{
        width: 20vw;
    }
    
    .s-active {
        font-size: 12px;
    }

    a {
        font-size: 12px;
    }

    /* -------------------------------------------------------------------------- */
    /*                                hero-section                                */
    /* -------------------------------------------------------------------------- */
    .hero-content {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    h1 {
        text-align: center;
        font-size: 24px;
    }

    h2 {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }
    .section-title{
        text-align: right;
    }

    /* -------------------------------------------------------------------------- */
    /*                               Management Page                              */
    /* -------------------------------------------------------------------------- */
    .card .actions {
        flex-direction: row;
    }
    
    .actions button {
        font-size: 14px;
        width: 28%;
    }
    
/* -------------------------------------------------------------------------- */
/*                                 Rating Page                                */
/* -------------------------------------------------------------------------- */
.review-card {
    flex-direction: row;
    text-align: center;
}

.review-card img {
    margin: 0 auto 10px;
}

.review-content {
    text-align: center;
}
.review-card .rating{
   justify-content: center;
}
.container h2 {
    text-align: right;
    font-size: 24px;
   font-weight: 500;
}
.card .actions .btn-start{
    font-size: 14px;
}
.card .actions .btn-message{
    font-size: 14px;

}
.card .actions .btn-cancel{
    font-size: 14px;

}
.card .actions .btn-edit{
    font-size: 14px;

}

}
